---
# Enable critical C diagnostics and style checks
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  readability-*,
  -bugprone-reserved-identifier,
  -readability-magic-numbers

# Treat critical bugs and security flaws as build errors
WarningsAsErrors: 'bugprone-*,cert-*,clang-analyzer-*'

# Configure specific check behaviors
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           1

  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-length.MinimumVariableNameLength
    value:           1

  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
...
